@model TodoViewModel;
@using Humanizer;

@{
    ViewData["Title"] = ViewBag.Title;
}

    <h1>@ViewData["Title"]</h1>

    <div class="panel panel-default todo-panel">
        <div class="panel-heading">@ViewData["Title"]</div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>&#x2714;</td>
                    <td>Item</td>
                    <td>Due</td>
                </tr>
            </thead>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="@item.Id" value="true" class="done-checkbox">
                    </td>
                    <td>@item.Title</td>
                    <td>@item.DueAt.Humanize()</td>
                </tr>
            }

        </table>

        <div class="add-item-form">
            @*TODO: partial view'a dönmeli*@
            <form>
                <div id="add-item-error" class="text-danger"></div>
                <div id="add-item-successful" class="text-info"></div>

                <label for="add-item-title">Yeni yapılacak ekle:</label>
                <input id="add-item-title">
                <button type="button" id="add-item-button">Ekle</button>
            </form>
        </div>
    </div>
